page {
    background-color: white;
    font-size: 17;
}

.page-content {
  background-color: white;
}

#ideaList-cell {
  margin: 10;
}

ListView {
    margin: 5;
}

Label {
    margin: 10;
    horizontal-align: left;
    vertical-align: center;
}

TextField {
    border-width: 3;
    border-style: solid;
    border-color: #034793;
}

Image {
    margin: 10;
}